/*
  Images
 */
$image-path : "../images/";
$footer-image : $image-path+"footer.png";
$header-image : $image-path+"header.png";
$events-image : $image-path+"events.png";
$logo-image : $image-path+"logo.png";

$home-slider-height : 700px;
$home-slider-width : 700px;


/*
  Background Colors
 */

$dark-background-color : #000;
$light-background-color : #fff;
$background-color : #282828;