/*
  Grid
 */
/** Menu top  **/
/* line 5, ../scss/menus.scss */
.nav-header {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  background: #1669bb;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
@media only screen and (min-width: 480px) {
  /* line 5, ../scss/menus.scss */
  .nav-header {
    position: fixed;
    height: 100px;
  }
}

/* line 21, ../scss/menus.scss */
.logo {
  float: left;
  display: block;
  width: 150px;
  height: 100px;
  background: #fff;
  margin: 0;
  padding: 0;
}
/* line 30, ../scss/menus.scss */
.logo img {
  display: block;
  width: 70px;
  margin: auto;
  padding-top: 15px;
  transition: all .2s ease-in-out;
}
/* line 36, ../scss/menus.scss */
.logo img:hover {
  transform: scale(1.2);
}

/* line 43, ../scss/menus.scss */
.nav-header-link {
  display: block;
  float: right;
  height: 100%;
}

/* line 50, ../scss/menus.scss */
.nav-header-link-list {
  height: 100%;
}
/* line 54, ../scss/menus.scss */
.nav-header-link-list > li {
  display: inline-block;
  margin-right: 1.5em;
  padding-top: 25%;
}
/* line 59, ../scss/menus.scss */
.nav-header-link-list > li a {
  display: block;
  font-size: 1.4rem;
  color: #fff;
}
/* line 64, ../scss/menus.scss */
.nav-header-link-list > li a:hover {
  color: #cccccc;
}
/* line 67, ../scss/menus.scss */
.nav-header-link-list > li a .fa {
  font-size: 1.2em;
}

/** FIN MENU TOP **/
/** MENU VERTICAL **/
/* line 77, ../scss/menus.scss */
.side-nav {
  position: fixed;
  float: left;
  top: auto;
  width: 150px;
  min-height: 100vh;
  padding-top: 100px;
  /* reset style */
  visibility: visible;
  opacity: 1;
  overflow: visible;
  max-height: none;
  background-color: #1976d2;
}
/* line 92, ../scss/menus.scss */
.side-nav > ul {
  /* reset style */
  padding: 0;
}
/* line 97, ../scss/menus.scss */
.side-nav .label {
  display: none;
}
/* line 101, ../scss/menus.scss */
.side-nav .menu-icon {
  width: 100%;
  transition: all .2s ease-in-out;
}
/* line 104, ../scss/menus.scss */
.side-nav .menu-icon:hover {
  transform: scale(1.2);
  background-color: #11508e;
}
/* line 111, ../scss/menus.scss */
.side-nav > ul > li {
  padding: 20px 0 20px 0;
}
/* line 113, ../scss/menus.scss */
.side-nav > ul > li a {
  display: block;
  text-align: center;
  font-size: 3.5em;
}
/* line 117, ../scss/menus.scss */
.side-nav > ul > li a .fa {
  color: #fff;
}
/* line 121, ../scss/menus.scss */
.side-nav > ul > li .page {
  text-align: center;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .8em;
  padding-top: 5px;
  color: #fff;
}
/* line 132, ../scss/menus.scss */
.side-nav .active > a {
  /* current page */
  box-shadow: inset 3px 0 0 #1976d2;
  background-color: #1669bb;
}

/** FIN MENU VERTICAL **/
