/* line 2, ../scss/reset.scss */
html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, em, img, small, strong, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, footer, header, menu, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 15, ../scss/reset.scss */
article, footer, header, menu, nav, section, main {
  display: block;
}

/* line 18, ../scss/reset.scss */
body {
  line-height: 1;
}

/* line 21, ../scss/reset.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../scss/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
