@import "mixin";
@import "variables";

* {
  font-family: "Roboto", sans-serif;
}

@media (max-width: $screen-sm-min) {
  .col {
    margin-left: 1%;
    margin-right: 1%;
  }

  .cinq, .deux {
    .col {
      margin-left: 2%;
      width: 94%;
    }
  }

  .quatre {
    .col {
      margin-left: 2%;
      width: 44%;
    }
  }

  .trois {
    .col {
      margin-left: 2%;
      margin-top: 30px;
    }
  }
}

@media (min-width: $screen-lg-min) {

  .col {
    float: left;
    margin-left: 2%;
    padding: 1%;

    &:first-child {
      margin-left: 0;
    }
  }

  .firstcol {
    margin-left: 0!important;
  }

  .cinq {
    @include conteneur();

    .col {

      @include widthCols(5, 2, 2, false);
    }
  }

  .quatre {
    @include conteneur();

    .col {

      @include widthCols(4, 2, 2, false);
    }
  }

  .trois {
    @include conteneur();

    .col {

      @include widthCols(3, 2, 2, false);
    }
  }

  .deux {
    @include conteneur();

    .col {

      @include widthCols(2, 2, 2, false);
    }
  }

  .un {
    @include conteneur();

    .col1 {
      width: 100%;
      float: left;
    }
  }
}


.col-33 {
  width: 31%;
  display: inline-block;
  padding: 40px 1%;
  vertical-align: top;}
.col-66 {
  width: 64%;
  display: inline-block;
  padding: 40px 1%;
  vertical-align: top;
}


.main-content {

  .content-wrapper {
    padding: 45px 5% 3em;

    h1 {
      text-align: center;
      padding: 3em 0;
      font-size: 2rem;
    }
  }

  .content-wrapper {
    margin: 0 150px;
    padding-top: $headerH;

    h1 {
      padding: 1em 0;
      font-size: 2.5rem;
      font-weight: 300;
    }
  }
}

.action-button {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;

  a {
    text-decoration: none;

  }
  .button {
    padding: 10px 15px;
    border-radius: 10px;
    background-color: $blue;
    color: $white;
    font-weight: bold;
    margin-right: 20px;
    border: 1px solid darken($blue, 10%);

    &:hover {
      background-color: darken($blue, 10%);
      border: 1px solid darken($blue, 20%);
    }
  }
}


.data-table {
  width: 100%;
  background-color: #EFF1F2;


  .table-button{
    text-align: center;
  }
  tr, td {
    border: solid 1px $blue;
    padding: 5px;
  }
  .data-row {
    &:hover {
      background-color: darken(#EFF1F2, 5%);
    }
  }
  thead, tfoot {
    font-weight: bold;
    background-color: lighten($blue, 50%);
  }
}

/** form **/
input {
  display: block;
  margin-bottom: 10px;
}
input[type="text"], input[type="password"], input[type="date"], input[type="email"], select{
  border-radius: 5px;
  border-color: lighten($blue, 15%);
  padding: 10px;
  width: 100%;
}
select{
  margin-bottom: 15px;
}
input[type="submit"],input[type="button"] {
  border-radius: 5px;
  border-color: lighten($blue, 15%);
  padding: 8px;
  background-color: lighten($blue, 5%);
  color: $white;
  outline: none;
}

#Register {
  background: #ffffff none repeat scroll 0 0;
  margin: 0 auto 20px;
  max-width: 360px;
  padding: 45px;
  position: relative;
  text-align: center;
  z-index: 1;
}
#username {
  width: 500px;
  background-color: green;
}

#submit {
  width: 66%;
}
input {
  background: #f2f2f2;
  border: 1px solid lighten($blue, 15%);
  box-sizing: border-box;
  font-family: "Roboto",sans-serif;
  font-size: 14px;
  margin: 0 0 15px;
  outline: 0 none;
  padding: 15px;
  width: 100%;

  &:last-of-type {
    margin-bottom: 5px;
  }


}

/** Style pour tables **/

.table {
  width:100%;
  max-width: 100%;
  margin: 20px 0;

  thead {
    background-color: aliceblue;
    border-bottom: 3px solid darken(#ebebeb, 10%);

    th {
      text-transform: capitalize;
      font-weight: bold;
      color: darkslategrey;
    }
  }

  td, th {
    padding: 8px 8px 10px;
  }

  tbody{
    tr {
      &:hover{
        background-color: lightskyblue;
      }
    }
  }
}
.table-button {
  padding: 5px;
  background-color: dodgerblue;
  color: white;
  font-weight: bold;
  border: 1px solid darken(dodgerblue, 10%);
  border-radius: 5px;
  text-decoration: none;
  outline:none;
  font-size: 12px;

  &:hover{
    background-color: darken(dodgerblue, 10%);
  }
}


/** 404 **/
body {
  margin: 0;
  padding: 0;
}

.bg-notf {
  background-color: #24485E;
}

.not-found {
  width: 100vw;
  height: 100vh;
  padding:0;
  margin:0;
  background:url("../img/404.jpg") center no-repeat;
  //-webkit-background-size: contain;
  background-size: auto 100%;

  h1{
    color: #3E6881;
    text-align: center;
    font-size: 5vh;
  }
  .backpage {
    display: block;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 20px;

    a {
      background-color: #3E6881;
      border: 1px solid lighten(#3E6881, 10%);
      padding: 10px;
      border-radius: 10px;
      color: #FFFFFF;
      outline: none;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        background-color: lighten(#3E6881, 10%);
        border: 1px solid #3E6881;
      }
    }
  }
}


.button-add {
  padding: 10px;
  background-color: deepskyblue;
  border-radius: 3px;
  outline:none;
  text-decoration: none;
  float: right;
  margin-bottom: 30px;
  color: #FFFFFF;
  font-weight:bold;

  &:hover
  {
    background-color: darken(deepskyblue, 5%);
  }
}

.info-error {
  padding: 15px 10px;
  background-color: rgba(255,0,0,0.5);
  color: #FFFFFF;
  font-weight: bold;
  display: block;
  margin: auto;
  width: 60%;
}

@media (max-width: $screen-lg-min) {
  .info-error {
    padding: 15px 10px;
    background-color: rgba(255,0,0,0.5);
    color: #FFFFFF;
    font-weight: bold;
    display: block;
    margin: auto;
    width: 80%;
  }

  .main-content .content-wrapper {
    margin-left: 150px;
    margin-right: 0;
  }
}

/* Loader */
#loader {
  position: absolute;
  left: 45%;
  top: 45%;
  z-index: 1;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#pagePagination {
  display: inline-block;
  width: 60px;
  margin: 10px 2px;
  outline: none;
}
#goPage,
#nextPage,
#prevPage,
.button-add{
  color: black;
  padding: 11px;
  border-radius: 5px;
  background: white;
  border: 1px solid #4e9cea;
  margin: 10px 2px;
  outline: none;
  &:hover {
    background: #4e9cea;
    color: #fff;
  }
}
