@charset "UTF-8";
/*
  Images
 */
/*
  Background Colors
 */
/*
  Grid
 */
/* line 6, ../sass/screen.scss */
* {
  padding: 0;
  margin: 0;
  font-family: 'Jaldi', sans-serif;
}

/* line 11, ../sass/screen.scss */
body {
  background: #333333;
}

/* line 14, ../sass/screen.scss */
.center {
  display: block;
  margin: auto;
}

/* line 18, ../sass/screen.scss */
.text-center {
  text-align: center;
}

/* line 21, ../sass/screen.scss */
.container {
  margin: 0 15%;
}

/* line 24, ../sass/screen.scss */
p {
  padding: 10px;
  font-size: 1.2em;
  text-align: justify;
}

/* line 29, ../sass/screen.scss */
.top-image {
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  background: url(../images/header.png) no-repeat center fixed;
  -webkit-background-size: cover;
  /* pour anciens Chrome et Safari */
  background-size: cover;
  /* version standardis├®e */
}

/* line 37, ../sass/screen.scss */
h1 {
  font-size: 80px;
}

/* line 40, ../sass/screen.scss */
.slide-label {
  position: absolute;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding-top: 50vh;
  width: 100%;
}

/* small devices (large desktops, 768 and up) */
@media (max-width: 768px) {
  /* line 51, ../sass/screen.scss */
  .container {
    margin: 0 5%;
  }

  /* line 55, ../sass/screen.scss */
  .col {
    margin-left: 1%;
    margin-right: 1%;
  }

  /* line 61, ../sass/screen.scss */
  .cinq .col, .deux .col {
    margin-left: 2%;
    width: 94%;
  }

  /* line 68, ../sass/screen.scss */
  .quatre .col {
    margin-left: 2%;
    width: 44%;
  }
}
@media (max-width: 1200px) {
  /* line 75, ../sass/screen.scss */
  .container {
    margin: 0 8%;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* line 82, ../sass/screen.scss */
  .col {
    float: left;
    margin-left: 2%;
    padding: 1%;
  }
  /* line 87, ../sass/screen.scss */
  .col:first-child {
    margin-left: 0;
  }

  /* line 92, ../sass/screen.scss */
  .firstcol {
    margin-left: 0 !important;
  }

  /* line 96, ../sass/screen.scss */
  .cinq {
    display: block;
    overflow: hidden;
  }
  /* line 99, ../sass/screen.scss */
  .cinq .col {
    width: 16.4%;
  }

  /* line 105, ../sass/screen.scss */
  .quatre {
    display: block;
    overflow: hidden;
  }
  /* line 108, ../sass/screen.scss */
  .quatre .col {
    width: 21.5%;
  }

  /* line 114, ../sass/screen.scss */
  .deux {
    display: block;
    overflow: hidden;
  }
  /* line 117, ../sass/screen.scss */
  .deux .col {
    width: 47%;
  }

  /* line 123, ../sass/screen.scss */
  .un {
    display: block;
    overflow: hidden;
  }
  /* line 126, ../sass/screen.scss */
  .un .col1 {
    width: 100%;
    float: left;
    padding: 1%;
  }
}
/* line 135, ../sass/screen.scss */
.col-33 {
  width: 31%;
  display: inline-block;
  padding: 40px 1%;
  vertical-align: top;
}

/* line 140, ../sass/screen.scss */
.col-66 {
  width: 64%;
  display: inline-block;
  padding: 40px 1%;
  vertical-align: top;
}

/* line 147, ../sass/screen.scss */
.img-responsive {
  width: 100%;
  height: auto;
}

/* line 152, ../sass/screen.scss */
h2 {
  font-size: 40px;
  padding: 10px;
}

/* Header */
/* line 162, ../sass/screen.scss */
header nav #logo {
  height: 50px;
  padding: 10px 15px 0 15px;
}
/* line 167, ../sass/screen.scss */
header nav ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  margin: auto;
  background: #0f0f0f;
}
/* line 173, ../sass/screen.scss */
header nav ul li {
  float: left;
}
/* line 176, ../sass/screen.scss */
header nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 21px 30px;
  text-decoration: none;
}
/* line 183, ../sass/screen.scss */
header nav ul li a:hover {
  background-color: #282828;
}

/* line 192, ../sass/screen.scss */
h2 {
  color: #FFFFFF;
}

/* line 195, ../sass/screen.scss */
p {
  color: #FFFFFF;
}

/* D├®dicaces */
/* line 204, ../sass/screen.scss */
#Dedicaces ul {
  list-style-type: none;
}

/* line 209, ../sass/screen.scss */
#Events {
  padding-bottom: 50px;
}
/* line 213, ../sass/screen.scss */
#Events .bouton a {
  font-family: 'Jaldi', sans-serif;
  display: block;
  width: 150px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  color: #000000;
  text-decoration: none;
  background-color: #C0C5CB;
  margin-left: auto;
  margin-right: auto;
}
/* line 225, ../sass/screen.scss */
#Events .bouton a:hover {
  background-color: #969ea8;
}

/* line 233, ../sass/screen.scss */
footer {
  position: absolute;
  width: 100%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background: url(../images/footer.png) no-repeat;
  background-size: 100% 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 251, ../sass/screen.scss */
footer p {
  font-size: 20px;
}

/* Travaux r├®cents Slider */
/* line 260, ../sass/screen.scss */
#Travaux {
  background-color: #000;
  position: relative;
  width: 100%;
  margin: auto;
  /*#slideshow {
    position: relative;
    width: $home-slider-width; !* limite en largeur (1 ├®l├®ment du slideshow) *!
    height: $home-slider-height; !* limite en hauteur *!
    overflow: hidden;
    margin: auto;
    text-align: center;
    z-index: 9998;
    box-shadow: 0 0 10px 1px $light-background-color;

    #sContent {
      position: absolute; !* on sort l'├®l├®ment du flux *!
      top: 0; !* on le positionne pr├®cis├®ment dans... *!
      left: 0; !* l'angle haut gauche de son parent positionn├® *!
      margin: 0;
      padding: 0;
      width: 100%; !* ou 200% (car deux ├®l├®ments) *!
      !* CSS3 Transition *!
      transition: left 1s;
      display: flex;

      li {
        display: inline;
        .slide-label
        {
          position: relative;
          bottom: 10%;
          color: $light-background-color;
          background-color: rgba(40, 40, 40, 0.7);
          padding: 10px;
          font-size: 20px;
          font-weight: bold;
        }
      }
    }
    &:target #sContent {
      left: -100%;
    }
  }
  .left-button, .right-button
  {
    background-color: white;
    padding: 0 30px 5px 30px;
    font-size: 50px;
    font-weight: bold;
    color: #000;
    border-radius: 50px;
    text-decoration: none;
    outline:none;
    z-index: 9999;
    position: absolute;
    top: 45%;
  }
  .left-button
  {
    left: 10%;
  }
  .right-button
  {
    right: 10%;
  }*/
}
/* line 266, ../sass/screen.scss */
#Travaux h2 {
  background-color: #1a1a1a;
}
@keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}
/* line 345, ../sass/screen.scss */
#Travaux body {
  margin: 0;
}
/* line 346, ../sass/screen.scss */
#Travaux div#slider {
  overflow: hidden;
}
/* line 347, ../sass/screen.scss */
#Travaux div#slider figure img {
  width: 20%;
  float: left;
  max-height: 500px;
}
/* line 348, ../sass/screen.scss */
#Travaux div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite;
}
