
//@import "compass/reset";
@import "_variables.scss";
@import "mixin";

*{
  padding: 0;
  margin: 0;
  font-family: 'Jaldi', sans-serif;
}
body{
  background: lighten($dark-background-color, 20%);
}
.center {
  display: block;
  margin: auto;
}
.text-center{
  text-align: center;
}
.container {
  margin: 0 15%;
}
p {
  padding: 10px;
  font-size: 1.2em;
  text-align: justify;
}
.top-image {
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  background: url(../images/header.png) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}
h1 {
  font-size: 80px;
}
.slide-label
{
  position: absolute;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding-top: 50vh;
  width: 100%;
}
/* small devices (large desktops, 768 and up) */
@media (max-width: $screen-sm-min) {
  .container {
    margin: 0 5%;
  }

  .col {
    margin-left: 1%;
    margin-right: 1%;
  }

  .cinq, .deux {
    .col {
      margin-left: 2%;
      width: 94%;
    }
  }

  .quatre {
    .col {
      margin-left: 2%;
      width: 44%;
    }
  }
}
@media (max-width: $screen-lg-min) {
  .container {
    margin: 0 8%;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

  .col {
    float: left;
    margin-left: 2%;
    padding: 1%;

    &:first-child {
      margin-left: 0;
    }
  }

  .firstcol {
    margin-left: 0!important;
  }

  .cinq {
    @include conteneur();

    .col {

      @include widthCols(5, 2, 2, false);
    }
  }

  .quatre {
    @include conteneur();

    .col {

      @include widthCols(4, 2, 2, false);
    }
  }

  .deux {
    @include conteneur();

    .col {

      @include widthCols(2, 2, 2, false);
    }
  }

  .un {
    @include conteneur();

    .col1 {
      width: 100%;
      float: left;
      padding: 1%;
    }
  }
}


.col-33 {
  width: 31%;
  display: inline-block;
  padding: 40px 1%;
  vertical-align: top;}
.col-66 {
  width: 64%;
  display: inline-block;
  padding: 40px 1%;
  vertical-align: top;
}

.img-responsive
{
  width: 100%;
  height: auto;
}
h2
{
  font-size: 40px;
  padding: 10px;
}

/* Header */
header{

  nav {
    #logo
    {
      height: 50px;
      padding: 10px 15px 0 15px;
    }
    ul {
      list-style-type: none;
      padding: 0;
      overflow: hidden;
      margin: auto;
      background: darken($background-color, 10%);
      li {
        float: left;

        a {
          display: block;
          color: white;
          text-align: center;
          padding:21px 30px;
          text-decoration: none;

          &:hover {
            background-color: $background-color;
          }
        }
      }
    }
  }
}

h2 {
  color: #FFFFFF;
}
p{
  color: #FFFFFF;
}


/* Dédicaces */

#Dedicaces{

  ul {

    list-style-type: none;
  }
}
#Events
{
  padding-bottom: 50px;

  .bouton a {
    font-family: 'Jaldi', sans-serif;
    display:block;
    width:150px;
    line-height:50px;
    text-align:center;
    vertical-align: middle;
    color: #000000;
    text-decoration:none;
    background-color: #C0C5CB;
    margin-left: auto;
    margin-right: auto;
    &:hover
    {
      background-color: darken(#C0C5CB, 15%);
    }
  }
}


footer{
  //width: 100%;
  //height: 500px;
  //margin-left: auto;
  //margin-right: auto;
  //background: url(#{$footer-image}) no-repeat;
  //background-size: 100% 700px;
  position: absolute;
  width: 100%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background: url(../images/footer.png) no-repeat;
  background-size: 100% 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  p
  {
    font-size: 20px;
  }
}


/* Travaux récents Slider */

#Travaux
{
  background-color: $dark-background-color;
  position: relative;
  width: 100%;
  margin:auto;
  h2 {
    background-color: lighten($dark-background-color, 10%);

  }
  /*#slideshow {
    position: relative;
    width: $home-slider-width; !* limite en largeur (1 élément du slideshow) *!
    height: $home-slider-height; !* limite en hauteur *!
    overflow: hidden;
    margin: auto;
    text-align: center;
    z-index: 9998;
    box-shadow: 0 0 10px 1px $light-background-color;

    #sContent {
      position: absolute; !* on sort l'élément du flux *!
      top: 0; !* on le positionne précisément dans... *!
      left: 0; !* l'angle haut gauche de son parent positionné *!
      margin: 0;
      padding: 0;
      width: 100%; !* ou 200% (car deux éléments) *!
      !* CSS3 Transition *!
      transition: left 1s;
      display: flex;

      li {
        display: inline;
        .slide-label
        {
          position: relative;
          bottom: 10%;
          color: $light-background-color;
          background-color: rgba(40, 40, 40, 0.7);
          padding: 10px;
          font-size: 20px;
          font-weight: bold;
        }
      }
    }
    &:target #sContent {
      left: -100%;
    }
  }
  .left-button, .right-button
  {
    background-color: white;
    padding: 0 30px 5px 30px;
    font-size: 50px;
    font-weight: bold;
    color: #000;
    border-radius: 50px;
    text-decoration: none;
    outline:none;
    z-index: 9999;
    position: absolute;
    top: 45%;
  }
  .left-button
  {
    left: 10%;
  }
  .right-button
  {
    right: 10%;
  }*/


  @keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
  }

  body { margin: 0; }
  div#slider { overflow: hidden; }
  div#slider figure img { width: 20%; float: left;max-height: 500px; }
  div#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slidy infinite;
  }
}
