
//@import "compass/reset";
@import "_variables.scss";
@import "mixin";

*{
  padding: 0;
  margin: 0;
  font-family: 'Jaldi', sans-serif;
}

section{
  padding: 50px 0;
}
nav {
  position: fixed;
  z-index: 99999;
  width: 70%;
  left: 15%
}
body{
  background: lighten($dark-background-color, 20%);
}
.center {
  display: block;
  margin: auto;
}
.text-center{
  text-align: center;
}
.container {
  margin: 0 15%;
}
p {
  padding: 10px;
  font-size: 1.2em;
  text-align: justify;
}
.top-image {
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  background: url(../images/header.png) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}
h1 {
  font-size: 80px;
}
.image-label
{
  position: absolute;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding-top: 50vh;
  width: 100%;
}
/* small devices (large desktops, 768 and up) */
@media (max-width: $screen-sm-min) {
  .container {
    margin: 0 5%;
  }


  .col {
    margin-left: 1%;
    margin-right: 1%;
  }

  .cinq, .deux {
    .col {
      margin-left: 2%;
      width: 94%;
    }
  }

  .quatre {
    .col {
      margin-left: 2%;
      width: 44%;
    }
  }

  .trois {
    .col {
      margin-left: 2%;
      margin-top: 30px;
    }
  }
}
@media (max-width: $screen-lg-min) {
  .container {
    margin: 0 8%;
  }
  nav
  {
    width: 84%;
    left: 8%;
  }
  #Travaux img {
    margin-top: 50px;
  }
}

.slide-label
{
  position: absolute;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding-top: 50vh;
  width: 100%;
}

@media (max-width: $screen-md-min) {
  nav {
    width: 100%;
    left: 0;
  }
}

@media (min-width: $screen-lg-min) {

  .col {
    float: left;
    margin-left: 2%;
    padding: 1%;

    &:first-child {
      margin-left: 0;
    }
  }

  .firstcol {
    margin-left: 0!important;
  }

  .cinq {
    @include conteneur();

    .col {

      @include widthCols(5, 2, 2, false);
    }
  }

  .quatre {
    @include conteneur();

    .col {

      @include widthCols(4, 2, 2, false);
    }
  }

  .trois {
    @include conteneur();

    .col {

      @include widthCols(3, 2, 2, false);
    }
  }

  .deux {
    @include conteneur();

    .col {

      @include widthCols(2, 2, 2, false);
    }
  }

  .un {
    @include conteneur();

    .col1 {
      width: 100%;
      float: left;
    }
  }
}


.col-33 {
  width: 31%;
  display: inline-block;
  padding: 40px 1%;
  vertical-align: top;}
.col-66 {
  width: 64%;
  display: inline-block;
  padding: 40px 1%;
  vertical-align: top;
}

.img-responsive
{
  width: 100%;
  height: auto;
}
h2
{
  font-size: 40px;
  padding: 10px;
}

/* Header */
header{

  nav {
    #logo
    {
      height: 50px;
      padding: 10px 15px 0 15px;
    }
    ul {
      list-style-type: none;
      padding: 0;
      overflow: hidden;
      margin: auto;
      background: darken($background-color, 10%);
      li {
        float: left;

        a {
          display: block;
          color: white;
          text-align: center;
          padding:21px 25px;
          text-decoration: none;

          &:hover {
            background-color: $background-color;
          }
        }
      }
    }
  }
}

h2 {
  color: #FFFFFF;
}
p{
  color: #FFFFFF;
}


/* Dédicaces */

#Dedicaces{

  ul {

    list-style-type: none;
  }
}
#Event
{
  padding-bottom: 50px;

  .bouton a {
    font-family: 'Jaldi', sans-serif;
    display:block;
    width:150px;
    line-height:50px;
    text-align:center;
    vertical-align: middle;
    color: #000000;
    text-decoration:none;
    background-color: #C0C5CB;
    margin-left: auto;
    margin-right: auto;
    &:hover
    {
      background-color: darken(#C0C5CB, 15%);
    }
  }
}


footer{
  //width: 100%;
  //height: 500px;
  //margin-left: auto;
  //margin-right: auto;
  //background: url(#{$footer-image}) no-repeat;
  //background-size: 100% 700px;
  position: absolute;
  width: 100%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background: url(../images/footer.png) no-repeat;
  background-size: 100% 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  p
  {
    font-size: 20px;
  }
}


/* Travaux récents Slider */

#Travaux
{
  h2 {
    background-color: lighten($dark-background-color, 10%);
    margin-bottom: 50px;
  }
}

@media (max-width: 1200px)
{
  .col {
    &:last-of-type {
      padding-bottom: 40px;
    }
  }
}

/* Articles */
#Articles {
  .container {
    background-color: darken(#333333, 10%);
    padding: 10px;
    display: inline-block;
  }

  .metadatas{
     display: inline-block;
    width: 100%!important;
    padding: 0;
    margin: 0;
    font-size: 0.8em;
     font-style: italic;
  }
 }
 
 /* Commentaires */
 #Acomments {
	#comments {
		padding: 25px;
		background: darken(#333333, 10%);
		
		.comment {
			background: darken(#333333, 5%);
			margin-bottom: 10px;

			.author {
				font-weight: bold;
				
			}
		}
	}
	
	#addcomments {
		margin-top: 15px;
		background: lighten(#333333, 5%);
		padding: 25px;
	}
 }
 
 
 /* medias */
 #medias {
	.col {
		background-color: darken(#333333, 10%);
		m-left: 20px;
	}
	
	dl {
		display: block;}
	dd, dt {
		display: inline-block;
	}
 }