@mixin conteneur(){
  display: block;
  overflow: hidden;
}

@mixin widthCols($nbCols: 2, $margin: 0, $padding: 0, $margeCol1: true){

  $ttMargin: $nbCols * $margin;

  @if $margeCol1 == false {
    $ttMargin: ($nbCols - 1) * $margin;
  }
  width: (100% - $ttMargin - ($nbCols * $padding)) / $nbCols;
}