
//@import "compass/reset";
@import "_variables.scss";
@import "_variables-editable.scss";
@import "mixin";

*{
  padding: 0;
  margin: 0;
  font-family: $custom-font-family;
  color: $custom-font-color;
}

section{
  padding: 50px 0;
}
nav {
  position: fixed;
  z-index: 99999;
  width: 70%;
  left: 15%
}
body{
  background: lighten($dark-background-color, 20%);
}
.center {
  display: block;
  margin: auto;
}
.text-center{
  text-align: center;
}
.container {
  margin: 0 13%;
  display: flex;
  background: $dark-background-color;
  padding: 20px;
  border-radius: 5px;
}
p {
  padding: 10px;
  font-size: 1.2em;
  text-align: justify;
}
.top-image {
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  background: url(../images/header.png) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}
h1 {
  font-size: 80px;
}
.image-label
{
  position: absolute;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding-top: 50vh;
  width: 100%;
}
/* small devices (large desktops, 768 and up) */
@media (max-width: $screen-sm-min) {
  .container {
    margin: 0 5%;
  }


  .col {
    margin-left: 1%;
    margin-right: 1%;
  }

  .cinq, .deux {
    .col {
      margin-left: 2%;
      width: 94%;
    }
  }

  .quatre {
    .col {
      margin-left: 2%;
      width: 44%;
    }
  }

  .trois {
    .col {
      margin-left: 2%;
      margin-top: 30px;
    }
  }
}
@media (max-width: $screen-lg-min) {
  .container {
    margin: 0 8%;
  }
  nav
  {
    width: 84%;
    left: 8%;
  }
  #Travaux img {
    margin-top: 50px;
  }
}

.slide-label
{
  position: absolute;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding-top: 45vh;
  width: 100%;
}

@media (max-width: $screen-md-min) {
  nav {
    width: 100%;
    left: 0;
  }
}

@media (min-width: $screen-lg-min) {

  .col {
    float: left;
    margin-left: 2%;
    padding: 1%;

    &:first-child {
      margin-left: 0;
    }
  }

  .firstcol {
    margin-left: 0!important;
  }

  .cinq {
    @include conteneur();

    .col {

      @include widthCols(5, 2, 2, false);
    }
  }

  .quatre {
    @include conteneur();

    .col {

      @include widthCols(4, 2, 2, false);
    }
  }

  .trois {
    @include conteneur();

    .col {

      @include widthCols(3, 2, 2, false);
    }
  }

  .deux {
    @include conteneur();

    .col {

      @include widthCols(2, 2, 2, false);
    }
  }

  .un {
    @include conteneur();

    .col1 {
      width: 100%;
      float: left;
    }
  }
}


.col-33 {
  width: 31%;
  display: inline-block;
  padding: 40px 1%;
  vertical-align: top;}
.col-66 {
  width: 64%;
  display: inline-block;
  padding: 40px 1%;
  vertical-align: top;
}

.img-responsive
{
  width: 100%;
  height: auto;
}
h2
{
  font-size: 40px;
  padding: 10px;
}

/* Header */
header{

  nav {
    #logo
    {
      height: 50px;
      padding: 10px 15px 0 15px;
    }
    ul {
      list-style-type: none;
      padding: 0;
      overflow: hidden;
      margin: auto;
      background: lighten($dark-background-color, 10%);
      li {
        float: left;

        a {
          display: block;
          color: white;
          text-align: center;
          padding:24px 25px;
          text-decoration: none;

          &:hover {
            background-color: lighten($dark-background-color, 15%);
          }
        }
      }
    }
  }
}

h2 {
  color: #FFFFFF;
}
p{
  color: #FFFFFF;
}


/* Dédicaces */

#Dedicaces{

  ul {

    list-style-type: none;
  }
}
#Event
{
  padding-bottom: 50px;

  .bouton a {
    font-family: 'Jaldi', sans-serif;
    display:block;
    width:150px;
    line-height:50px;
    text-align:center;
    vertical-align: middle;
    color: $dark-background-color;
    text-decoration:none;
    background-color: #C0C5CB;
    margin-left: auto;
    margin-right: auto;
    &:hover
    {
      background-color: darken(#C0C5CB, 15%);
    }
  }
}


footer{
  //width: 100%;
  //height: 500px;
  //margin-left: auto;
  //margin-right: auto;
  //background: url(#{$footer-image}) no-repeat;
  //background-size: 100% 700px;
  position: absolute;
  width: 100%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background: url(../images/footer.png) no-repeat;
  background-size: 100% 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  p
  {
    font-size: 20px;
  }
}


/* Travaux récents Slider */

#Travaux
{
  h2 {
    background-color: lighten($dark-background-color, 10%);
    margin-bottom: 50px;
  }
}

@media (max-width: 1200px)
{
  .col {
    &:last-of-type {
      padding-bottom: 40px;
    }
  }
}

/* Articles */
#Articles {
  .container {
    background-color: darken(#333333, 10%);
    padding: 10px;
    display: inline-block;
  }

  .metadatas{
     display: inline-block;
    width: 100%!important;
    padding: 0;
    margin: 0;
    font-size: 0.8em;
     font-style: italic;
  }
 }
 
 /* Commentaires */
 #Acomments {
	#comments {
		padding: 25px;
		background: darken(#333333, 10%);
		
		.comment {
			background: darken(#333333, 5%);
			margin-bottom: 10px;

			.author {
				font-weight: bold;
				
			}
		}
	}
	
	#addcomments {
		margin-top: 15px;
		background: lighten(#333333, 5%);
		padding: 25px;
	}
 }
 
 
 /* medias */
 #medias {
	.col {
		background-color: darken(#333333, 10%);
		m-left: 20px;
	}
	
	dl {
		display: block;}
	dd, dt {
		display: inline-block;
	}
 }

 /* CSS CAROUSEL */
@import url('https://fonts.googleapis.com/css?family=Fresca');

.info {
  text-align: left;
  background-color: rgba($dark-background-color, 0.3);
  width: 1000px;
  margin: auto;
  margin-top: -77px;
  position: relative;

  .title {
    margin: 0 auto;
    color: palevioletred;
    font-size: 25px;
    font-weight: bold;
    padding: 5px 15px;
  }

  .desc {
    font-size: 20px;
    color: lightgrey;
    padding: 5px 15px;
  }
}


#carousel {
  max-width: 1000px;
  height: auto;
  margin: 0 auto;
  font-family: 'Fresca', sans-serif;
  position: relative; /**/
  overflow: hidden;
  object-fit: cover;


  #rail {
    height: auto;

    img {
      width: 1000px;
      height: 500px; /**/
      object-fit: cover;
    }
  }

  #play {
    width: 20%;
    height: 100px;
    position: absolute;
    top: 40%;
    left: 40%;
    opacity: 0;

    &:hover {
      opacity: 1;
      background-color: transparent;
      border: none;
      font-size: 35px;
      outline: none;
    }
  }

  .puce-navigation {
    display: block;
    position: relative;
    margin: 0 auto;
    font-size: 15px;
    color: #d4d4d4;
    top: 30px;
    text-align: center;

    i {
      margin-right: 5px;
      cursor: pointer;
      text-shadow: 5px 5px 5px rgb(50,50,50);

      &:hover {
        color: white;
      }
    }
  }

  #prev, #next {
    transition: opacity 0.1s 0.3s ease;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    font-size: 25px;
    text-align: center;
    outline: none;
    opacity: 0;
    background: rgba(255,255,255, 0.15);
    border: solid 2px rgba(255,255,255, 0.6);
  }

  #next.hover,
  #prev.hover {
    transition: opacity 0.2s 0.5s ease;
    opacity: 1;
    border: solid 2px rgba(255,255,255, 0.6);
  }

  #prev {
    left: 10px;
    width: 8%;
    height:15%;
    top: 40%

  }
  #next {
    right: 10px;
    width: 8%;
    height:15%;
    top: 40%
  }

}
@media (max-width: 1017px) {
  .info {
    width: 100%;
  }
  #carousel {

    #rail {
      img {
        max-height: 80vh;
        width: 100vw;
      }
    }
  }
}

@media (max-width: 1170px) and (max-height: 600px){
  #carousel {
    max-height: 80vh;

    #rail {
      img {
        max-height: 80vh;
        width: 100vw;
        height: 80vh;
      }
    }
  }

  .info {
    margin-top: -72px;
  }

  .puce-navigation {
    font-size: 20px!important;
    top: 30px;

  }
}
/*FIN CSS CAROUSEL*/

@media (max-width: $screen-md-min) {
  #desktop, #mobile {
    display: none;
  }

  #pull {
    display: block;
    padding:21px 25px;
    background: lighten($dark-background-color, 10%);
    color: #fff;
    width:100%;
    position: absolute;
    top: 0;

    span {
      font-size: 24px;
      padding: 5px 12px 3px;
      border-radius: 5px;
      border: 2px white solid;
      &:hover {
        cursor: pointer;
        background: lighten($dark-background-color, 20%);
        border-color: darken(white, 30%);
        color: darken(white, 30%);
      }
    }
  }
  #mobile {
    li {
      width: 100%;
      a {
        padding: 10px 25px;
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
  .navlogo {
    margin-bottom: 14px;
  }
  .slide-label {
    padding-top: 40vh;
    font-size: 60px;
  }
}
@media (min-width: $screen-md-min+1) {

  #pull {
    display: none;
  }

  #desktop {
    display: block;
  }
  #mobile {
    display: none!important;
  }
}
/* FORM */
form {
  input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    &:last-of-type {
      &:hover {
        cursor: pointer;
        background: lighten(white, 20%);
      }
    }
  }
  input[type="checkbox"]
  {
    display: none;
  }
  input[type="checkbox"] {
    &+label::before {
      vertical-align: sub;
      content: "";
      display: inline-block;
      width: 20px;
      height: 20px;
      background: #fff;
      border-radius: 20px;
      &:hover{
        background-color: darken(white, 15%);
      }
    }
    &:checked {
      &+label::before {
        transition-delay: 0.2s;
        background: lighten($dark-background-color, 10%);
        width: 14px;
        height: 14px;
        border: 3px darken(white, 22%) solid;
      }
    }
  }
  .checkbox-span {
    display: block;
    padding-bottom: 10px;
    label {
      color: #fff;
      font-size: 18px;
    }
  }
  button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: lighten(white, 20%);
    width: 100%;
    border: 0;
    padding: 15px;
    color: white;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;

  }
  button:hover, button:active, button:focus {
    background: lighten(white, 10%);
  }
}
.login-form {
  width: 40%;
  margin: auto;
}
#Register {
  width: 60%;
  margin: auto;
}
@media (max-width: $screen-md-min) {
  .login-form {
    width: 65%;
  }
  #Register {
    width: 80%;
    margin: auto;
  }
}

.info-error {
  padding: 15px 5px;
  background-color: rgba(255,0,0,0.5);
  color: #FFFFFF;
  text-align: center;
  font-weight: bold;
  width: 39%;
  margin: 5px auto;
}
.info-blue {
  padding: 10px 10px;
  font-size: 11px;
  text-align: left;  background-color: lighten(#1976d2, 20%);
  color: #FFFFFF;
  font-weight: bold;
  width: 39%;
  margin: 5px auto;
}