@charset "UTF-8";
/*
  Images
 */
/*
  Background Colors
 */
/*
  Grid
 */
@import url("https://fonts.googleapis.com/css?family=Fresca");
/* line 6, ../scss/screen.scss */
* {
  padding: 0;
  margin: 0;
  font-family: 'Jaldi', sans-serif;
}

/* line 12, ../scss/screen.scss */
section {
  padding: 50px 0;
}

/* line 15, ../scss/screen.scss */
nav {
  position: fixed;
  z-index: 99999;
  width: 70%;
  left: 15%;
}

/* line 21, ../scss/screen.scss */
body {
  background: #333333;
}

/* line 24, ../scss/screen.scss */
.center {
  display: block;
  margin: auto;
}

/* line 28, ../scss/screen.scss */
.text-center {
  text-align: center;
}

/* line 31, ../scss/screen.scss */
.container {
  margin: 0 13%;
  display: flex;
  background: black;
  padding: 20px;
  border-radius: 5px;
}

/* line 38, ../scss/screen.scss */
p {
  padding: 10px;
  font-size: 1.2em;
  text-align: justify;
}

/* line 43, ../scss/screen.scss */
.top-image {
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  background: url(../images/header.png) no-repeat center fixed;
  -webkit-background-size: cover;
  /* pour anciens Chrome et Safari */
  background-size: cover;
  /* version standardis├®e */
}

/* line 51, ../scss/screen.scss */
h1 {
  font-size: 80px;
}

/* line 54, ../scss/screen.scss */
.image-label {
  position: absolute;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding-top: 50vh;
  width: 100%;
}

/* small devices (large desktops, 768 and up) */
@media (max-width: 768px) {
  /* line 65, ../scss/screen.scss */
  .container {
    margin: 0 5%;
  }

  /* line 70, ../scss/screen.scss */
  .col {
    margin-left: 1%;
    margin-right: 1%;
  }

  /* line 76, ../scss/screen.scss */
  .cinq .col, .deux .col {
    margin-left: 2%;
    width: 94%;
  }

  /* line 83, ../scss/screen.scss */
  .quatre .col {
    margin-left: 2%;
    width: 44%;
  }

  /* line 90, ../scss/screen.scss */
  .trois .col {
    margin-left: 2%;
    margin-top: 30px;
  }
}
@media (max-width: 1200px) {
  /* line 97, ../scss/screen.scss */
  .container {
    margin: 0 8%;
  }

  /* line 100, ../scss/screen.scss */
  nav {
    width: 84%;
    left: 8%;
  }

  /* line 105, ../scss/screen.scss */
  #Travaux img {
    margin-top: 50px;
  }
}
/* line 110, ../scss/screen.scss */
.slide-label {
  position: absolute;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding-top: 45vh;
  width: 100%;
}

@media (max-width: 992px) {
  /* line 121, ../scss/screen.scss */
  nav {
    width: 100%;
    left: 0;
  }
}
@media (min-width: 1200px) {
  /* line 129, ../scss/screen.scss */
  .col {
    float: left;
    margin-left: 2%;
    padding: 1%;
  }
  /* line 134, ../scss/screen.scss */
  .col:first-child {
    margin-left: 0;
  }

  /* line 139, ../scss/screen.scss */
  .firstcol {
    margin-left: 0 !important;
  }

  /* line 143, ../scss/screen.scss */
  .cinq {
    display: block;
    overflow: hidden;
    width: 100%;
  }
  /* line 146, ../scss/screen.scss */
  .cinq .col {
    width: 16.4%;
  }

  /* line 152, ../scss/screen.scss */
  .quatre {
    display: block;
    overflow: hidden;
    width: 100%;
  }
  /* line 155, ../scss/screen.scss */
  .quatre .col {
    width: 21.5%;
  }

  /* line 161, ../scss/screen.scss */
  .trois {
    display: block;
    overflow: hidden;
    width: 100%;
  }
  /* line 164, ../scss/screen.scss */
  .trois .col {
    width: 30%;
  }

  /* line 170, ../scss/screen.scss */
  .deux {
    display: block;
    overflow: hidden;
    width: 100%;
  }
  /* line 173, ../scss/screen.scss */
  .deux .col {
    width: 47%;
  }

  /* line 179, ../scss/screen.scss */
  .un {
    display: block;
    overflow: hidden;
    width: 100%;
  }
  /* line 182, ../scss/screen.scss */
  .un .col1 {
    width: 100%;
    float: left;
  }
}
/* line 190, ../scss/screen.scss */
.col-33 {
  width: 31%;
  display: inline-block;
  padding: 40px 1%;
  vertical-align: top;
}

/* line 195, ../scss/screen.scss */
.col-66 {
  width: 64%;
  display: inline-block;
  padding: 40px 1%;
  vertical-align: top;
}

/* line 202, ../scss/screen.scss */
.img-responsive {
  width: 100%;
  height: auto;
}

/* line 207, ../scss/screen.scss */
h2 {
  font-size: 40px;
  padding: 10px;
}

/* Header */
/* line 217, ../scss/screen.scss */
header nav #logo {
  height: 50px;
  padding: 10px 15px 0 15px;
}
/* line 222, ../scss/screen.scss */
header nav ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  margin: auto;
  background: #0f0f0f;
}
/* line 228, ../scss/screen.scss */
header nav ul li {
  float: left;
}
/* line 231, ../scss/screen.scss */
header nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 24px 25px;
  text-decoration: none;
}
/* line 238, ../scss/screen.scss */
header nav ul li a:hover {
  background-color: #282828;
}

/* line 247, ../scss/screen.scss */
h2 {
  color: #FFFFFF;
}

/* line 250, ../scss/screen.scss */
p {
  color: #FFFFFF;
}

/* D├®dicaces */
/* line 259, ../scss/screen.scss */
#Dedicaces ul {
  list-style-type: none;
}

/* line 264, ../scss/screen.scss */
#Event {
  padding-bottom: 50px;
}
/* line 268, ../scss/screen.scss */
#Event .bouton a {
  font-family: 'Jaldi', sans-serif;
  display: block;
  width: 150px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  color: #000000;
  text-decoration: none;
  background-color: #C0C5CB;
  margin-left: auto;
  margin-right: auto;
}
/* line 280, ../scss/screen.scss */
#Event .bouton a:hover {
  background-color: #969ea8;
}

/* line 288, ../scss/screen.scss */
footer {
  position: absolute;
  width: 100%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background: url(../images/footer.png) no-repeat;
  background-size: 100% 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 306, ../scss/screen.scss */
footer p {
  font-size: 20px;
}

/* Travaux r├®cents Slider */
/* line 317, ../scss/screen.scss */
#Travaux h2 {
  background-color: #1a1a1a;
  margin-bottom: 50px;
}

@media (max-width: 1200px) {
  /* line 326, ../scss/screen.scss */
  .col:last-of-type {
    padding-bottom: 40px;
  }
}
/* Articles */
/* line 334, ../scss/screen.scss */
#Articles .container {
  background-color: #1a1a1a;
  padding: 10px;
  display: inline-block;
}
/* line 340, ../scss/screen.scss */
#Articles .metadatas {
  display: inline-block;
  width: 100% !important;
  padding: 0;
  margin: 0;
  font-size: 0.8em;
  font-style: italic;
}

/* Commentaires */
/* line 352, ../scss/screen.scss */
#Acomments #comments {
  padding: 25px;
  background: #1a1a1a;
}
/* line 356, ../scss/screen.scss */
#Acomments #comments .comment {
  background: #262626;
  margin-bottom: 10px;
}
/* line 360, ../scss/screen.scss */
#Acomments #comments .comment .author {
  font-weight: bold;
}
/* line 367, ../scss/screen.scss */
#Acomments #addcomments {
  margin-top: 15px;
  background: #404040;
  padding: 25px;
}

/* medias */
/* line 377, ../scss/screen.scss */
#medias .col {
  background-color: #1a1a1a;
  m-left: 20px;
}
/* line 382, ../scss/screen.scss */
#medias dl {
  display: block;
}
/* line 384, ../scss/screen.scss */
#medias dd, #medias dt {
  display: inline-block;
}

/* CSS CAROUSEL */
/* line 392, ../scss/screen.scss */
.info {
  text-align: left;
  background-color: rgba(0, 0, 0, 0.3);
  width: 1000px;
  margin: auto;
  margin-top: -77px;
  position: relative;
}
/* line 400, ../scss/screen.scss */
.info .title {
  margin: 0 auto;
  color: palevioletred;
  font-size: 25px;
  font-weight: bold;
  padding: 5px 15px;
}
/* line 408, ../scss/screen.scss */
.info .desc {
  font-size: 20px;
  color: lightgrey;
  padding: 5px 15px;
}

/* line 416, ../scss/screen.scss */
#carousel {
  max-width: 1000px;
  height: auto;
  margin: 0 auto;
  font-family: 'Fresca', sans-serif;
  position: relative;
  /**/
  overflow: hidden;
  object-fit: cover;
}
/* line 426, ../scss/screen.scss */
#carousel #rail {
  height: auto;
}
/* line 429, ../scss/screen.scss */
#carousel #rail img {
  width: 1000px;
  height: 500px;
  /**/
  object-fit: cover;
}
/* line 436, ../scss/screen.scss */
#carousel #play {
  width: 20%;
  height: 100px;
  position: absolute;
  top: 40%;
  left: 40%;
  opacity: 0;
}
/* line 444, ../scss/screen.scss */
#carousel #play:hover {
  opacity: 1;
  background-color: transparent;
  border: none;
  font-size: 35px;
  outline: none;
}
/* line 453, ../scss/screen.scss */
#carousel .puce-navigation {
  display: block;
  position: relative;
  margin: 0 auto;
  font-size: 15px;
  color: #d4d4d4;
  top: 30px;
  text-align: center;
}
/* line 462, ../scss/screen.scss */
#carousel .puce-navigation i {
  margin-right: 5px;
  cursor: pointer;
  text-shadow: 5px 5px 5px #323232;
}
/* line 467, ../scss/screen.scss */
#carousel .puce-navigation i:hover {
  color: white;
}
/* line 473, ../scss/screen.scss */
#carousel #prev, #carousel #next {
  transition: opacity 0.1s 0.3s ease;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  font-size: 25px;
  text-align: center;
  outline: none;
  opacity: 0;
  background: rgba(255, 255, 255, 0.15);
  border: solid 2px rgba(255, 255, 255, 0.6);
}
/* line 487, ../scss/screen.scss */
#carousel #next.hover,
#carousel #prev.hover {
  transition: opacity 0.2s 0.5s ease;
  opacity: 1;
  border: solid 2px rgba(255, 255, 255, 0.6);
}
/* line 494, ../scss/screen.scss */
#carousel #prev {
  left: 10px;
  width: 8%;
  height: 15%;
  top: 40%;
}
/* line 501, ../scss/screen.scss */
#carousel #next {
  right: 10px;
  width: 8%;
  height: 15%;
  top: 40%;
}

@media (max-width: 1017px) {
  /* line 510, ../scss/screen.scss */
  .info {
    width: 100%;
  }

  /* line 516, ../scss/screen.scss */
  #carousel #rail img {
    max-height: 80vh;
    width: 100vw;
  }
}
@media (max-width: 1170px) and (max-height: 600px) {
  /* line 525, ../scss/screen.scss */
  #carousel {
    max-height: 80vh;
  }
  /* line 529, ../scss/screen.scss */
  #carousel #rail img {
    max-height: 80vh;
    width: 100vw;
    height: 80vh;
  }

  /* line 537, ../scss/screen.scss */
  .info {
    margin-top: -72px;
  }

  /* line 541, ../scss/screen.scss */
  .puce-navigation {
    font-size: 20px !important;
    top: 30px;
  }
}
/*FIN CSS CAROUSEL*/
@media (max-width: 992px) {
  /* line 550, ../scss/screen.scss */
  #desktop, #mobile {
    display: none;
  }

  /* line 554, ../scss/screen.scss */
  #pull {
    display: block;
    padding: 21px 25px;
    background: #0f0f0f;
    color: #fff;
    width: 100%;
    position: absolute;
    top: 0;
  }
  /* line 563, ../scss/screen.scss */
  #pull span {
    font-size: 24px;
    padding: 5px 12px 3px;
    border-radius: 5px;
    border: 2px white solid;
  }
  /* line 568, ../scss/screen.scss */
  #pull span:hover {
    cursor: pointer;
    background: #424242;
    border-color: #b3b3b3;
    color: #b3b3b3;
  }

  /* line 577, ../scss/screen.scss */
  #mobile li {
    width: 100%;
  }
  /* line 579, ../scss/screen.scss */
  #mobile li a {
    padding: 10px 25px;
    font-size: 20px;
    font-weight: bold;
  }

  /* line 586, ../scss/screen.scss */
  .navlogo {
    margin-bottom: 14px;
  }

  /* line 589, ../scss/screen.scss */
  .slide-label {
    padding-top: 40vh;
    font-size: 60px;
  }
}
@media (min-width: 993px) {
  /* line 596, ../scss/screen.scss */
  #pull {
    display: none;
  }

  /* line 600, ../scss/screen.scss */
  #desktop {
    display: block;
  }

  /* line 603, ../scss/screen.scss */
  #mobile {
    display: none !important;
  }
}
/* FORM */
/* line 609, ../scss/screen.scss */
form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
/* line 620, ../scss/screen.scss */
form input:last-of-type:hover {
  cursor: pointer;
  background: white;
}
/* line 626, ../scss/screen.scss */
form input[type="checkbox"] {
  display: none;
}
/* line 631, ../scss/screen.scss */
form input[type="checkbox"] + label::before {
  vertical-align: sub;
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 20px;
}
/* line 639, ../scss/screen.scss */
form input[type="checkbox"] + label::before:hover {
  background-color: #d9d9d9;
}
/* line 644, ../scss/screen.scss */
form input[type="checkbox"]:checked + label::before {
  transition-delay: 0.2s;
  background: #282828;
  width: 14px;
  height: 14px;
  border: 3px #c7c7c7 solid;
}
/* line 653, ../scss/screen.scss */
form .checkbox-span {
  display: block;
  padding-bottom: 10px;
}
/* line 656, ../scss/screen.scss */
form .checkbox-span label {
  color: #fff;
  font-size: 18px;
}
/* line 661, ../scss/screen.scss */
form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: white;
  width: 100%;
  border: 0;
  padding: 15px;
  color: white;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
/* line 676, ../scss/screen.scss */
form button:hover, form button:active, form button:focus {
  background: white;
}

/* line 680, ../scss/screen.scss */
.login-form {
  width: 40%;
  margin: auto;
}

/* line 684, ../scss/screen.scss */
#Register {
  width: 60%;
  margin: auto;
}

@media (max-width: 992px) {
  /* line 689, ../scss/screen.scss */
  .login-form {
    width: 65%;
  }

  /* line 692, ../scss/screen.scss */
  #Register {
    width: 80%;
    margin: auto;
  }
}
/* line 698, ../scss/screen.scss */
.info-error {
  padding: 15px 5px;
  background-color: rgba(255, 0, 0, 0.5);
  color: #FFFFFF;
  text-align: center;
  font-weight: bold;
  width: 39%;
  margin: 5px auto;
}

/* line 707, ../scss/screen.scss */
.info-blue {
  padding: 10px 10px;
  font-size: 11px;
  text-align: left;
  background-color: #64a9ed;
  color: #FFFFFF;
  font-weight: bold;
  width: 39%;
  margin: 5px auto;
}
