// Colors :

$blue: #1976d2;
$white: #fff;
$black: #000;

// Sizes :

$S: 480px;

$headerH: 100px;
$navW: 150px;

$imgW: 70px;


$screen-sm-min : 768px;
$screen-md-min : 992px;
$screen-lg-min : 1200px;

@import url(https://fonts.googleapis.com/css?family=Roboto:300);
