#deletecss {
     border-color: #4e9cea;
     border-radius: 5px;
     padding: 10px;
     width: 100%;
     font-family: "Roboto", sans-serif;
     text-transform: uppercase;
     font-size: 14px;
 }